{{define "min"}}
<!doctype html>
<html lang="en">
{{template "head"}}

<body id="polyappBody">

    <noscript>
        <header id="polyappNoscriptError" class="_fixed">
            <p>This website needs Javascript enabled to work properly.</p>
        </header>
    </noscript>

    <div class="spinnerOverlay" id="polyappJSSpinner">
        <div class="spinner"></div>
    </div>

    <div class="overall" id="polyappOverall">
        <div id="polyappJSToastContainer"></div>
        <!-- The exact structure of the main tag is coupled to innerToAppShell() -->
        <main class="main" id="polyappJSMain">
        </main>
    </div>

{{template "afteroverall"}}

    </body>

</html>
{{end}}
